<!DOCTYPE html>
<html lang="en" ng-app="workshop">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Workshop Shop</title>
    <link href="../lib/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/shop.css" rel="stylesheet">
    <script type="text/javascript" src="../lib/angular.js"></script>

    <!-- Your application code -->
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Angular Workshop...Shop</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <div id="catalog" class="row" ng-controller="Catalog as catalog">
                    <div class="form-group">
                        <input type="search" class="form-control" id="search" ng-model="search" placeholder="Search for a product">
                    </div>
                    <div
                        class="col-sm-6 col-md-4"
                        ng-repeat="item in items | sizes:selectedColors | filter:search as result"
                        aw-cart-add
                    >
                        <div class="thumbnail">
                            <img src="../lib/shirt.png">
                            <div class="caption">
                                <h3>{{ ::item.name }}</h3>
                                <p>
                                    <b>{{ ::item.price | currency }}</b>
                                    <a ng-model="id" class="btn btn-primary pull-right" href="" ng-click="addItem()">Add to Cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4" ng-if="!loading && !result.length">
                        <p>No items match filters.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div id="filter" ng-controller="Filter as filterCtrl">
                    <div class="panel panel-default" ng-if="colors">
                        <div class="panel-heading"><strong>Filters</strong></div>
                        <div class="checkbox">
                            <label
                                ng-repeat="color in colors">
                                <input
                                    type="checkbox"
                                    name="{{ ::color }}"
                                    ng-model="filterCtrl.selectedColors[color]"
                                    ng-click="filterCtrl.filterColor()"
                                > {{::color | capitalize}}
                            </label>
                        </div>
                    </div>
                </div>
                <div id="cart" aw-cart>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="pull-left"><strong>Cart</strong></h5>
                            <a href="#/checkout" class="btn btn-success pull-right" ng-disabled="isEmpty()">Checkout</a>
                            <div class="clearfix"></div>
                        </div>
                        <aw-cart-list></aw-cart-list>
                        <div class="panel-footer">
                            <a href="#/checkout" class="btn btn-success pull-left" ng-disabled="isEmpty()">Checkout</a>
                            <h5 class="pull-right"><strong>Total: {{ cart.total | currency }}</strong></h5>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
